@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --very-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}

/* font size should be 12px */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.75rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.faq-section {
  min-height: 100vh;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-card {
  background: #fff;
  width: 60%;
  display: flex;
  border-radius: 2rem;
  margin: 4rem auto;
  min-height: 480px;
  box-shadow: 0px 20px 25px rgb(0 0 0 / 0.3);
}

.faq-card .left {
  background: right 40px top -300px url("images/bg-pattern-desktop.svg") no-repeat;
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  position: relative;
}

.no-overflow {
  overflow: hidden;
}

.faq-card .left .woman-image img {
  position: relative;
  left: -40px;
  /* top: 80px; */
  width: 100%;
}

.faq-card .left .box-illustration {
  position: absolute;
  top: 230px;
  transform: translateX(-50%);
}

.faq-card .right {
  flex: 1 1 50%;
  display: flex;
  flex-flow: column nowrap;
}

.faq-card .right h2 {
  font-size: 36px;
  text-transform: uppercase;
  margin: 2.5rem 0 24px;
}

.faq-card .faq {
  list-style: none;
  width: 80%;
  margin-bottom: 2.4rem;
}

.faq-card .faq li {
  border-bottom: 1px solid var(--light-grayish-blue);
  padding: 10px 0;
  cursor: pointer;
}

.faq-card .faq li div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-card .faq li div:first-child img {
  width: 10px;
  height: 7px;
}

.faq-card .faq li h3 {
  font-size: 1rem;
  font-weight: 400;
}

.faq-card .faq li img.chevron {
  transition: transform 0.3s;
}

.faq-card .faq li:hover h3 {
  color: var(--soft-red);
}

.faq-card .faq li p {
  max-height: 0;
  margin: 10px 0px 0px;
  font-size: 14px;
  overflow: hidden;

  transform: scaleY(0);
  transition: all 0.2s ease-in-out;
}

.faq-card .faq li.expanded h3 {
  font-weight: 700;
}

.faq-card .faq li.expanded img.chevron {
  transform: rotateZ(180deg);
}

.faq-card .faq li.expanded p {
  max-height: 1000px;
  transform: scaleY(1);
}